<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" type="image/png" href="../static/img/portifolio.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <title>Vanderlei Miguel</title>
  </head>
  <body>
    <!-- icone menu -->
    <i class="bi bi-list menu-mobile"></i>

    <!-- Menu -->
    <aside id="header">
      <section class="profile">
        <img
          src="../static/img/profile-pic.png"
          alt="Foto do Vanderlei Miguel"
        />
        <h1>Vanderlei Miguel</h1>
        <div class="social-links mt-4 text-center">
          <a
            target="_blank"
            href="https://www.linkedin.com/in/vanderleimiguel/"
          >
            <i class="bi bi-linkedin"></i>
          </a>
          <a target="_blank" href="https://github.com/vanderleimiguel/">
            <i class="bi bi-github"></i>
          </a>
          <a target="_blank" href="https://wa.me/5548996845900">
            <i class="bi bi-whatsapp"></i>
          </a>
        </div>
      </section>

      <!-- menu de navegação -->
      <nav id="nav-bar" class="nav-menu">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#inicio"
              ><i class="bi bi-house"></i> Inicio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#habilidades"
              ><i class="bi bi-list-check"></i> Habilidades</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#curriculo"
              ><i class="bi bi-file-earmark"></i> Currículo</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio"
              ><i class="bi bi-collection"></i> Portfólio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contato"
              ><i class="bi bi-envelope"></i> Contato</a
            >
          </li>
        </ul>
      </nav>
    </aside>

    <main id="main">
      <!-- section Inicio -->
      <section id="inicio" class="row m-0 p-0">
        <div
          class="col-md-5 d-flex justify-content-center align-items-center flex-column"
        >
          <h2 class="text-white text-shadow">Vanderlei Miguel</h2>
          <span id="subtitle" class="text-white">Desenvolvedor</span>
        </div>
        <div class="col-md-7 d-flex justify-content-end align-items-end">
          <div id="arraste" class="d-flex align-items-center">
            <i
              class="bi bi-arrow-down text-white pe-2 fs-2"
              arial-hidden="true"
            ></i>
            <a href="#sobre">Arraste para mais</a>
          </div>
        </div>
      </section>

      <!-- section Sobre -->
      <section class="container mt-5" id="sobre">
        <div class="row w-100">
          <div class="col-md-12" data-anime="down">
            <h2 class="pt-3">Sobre</h2>
            <p>
              Olá, me chamo Vanderlei, formado em Tecnólogo em Mecatrônica, pós graduado em Gestão de Projetos, possuo Black Belt Lean Six Sigma e atualmente cursando Desenvolvimento Full Stack.
              Possuo 15 anos de experiência nas áreas de automação, manutenção e engenharia, programando CLPs, IHMs, drives e robôs industriais, utilizando linguagem ladder e stl, liderança de projetos e treinamentos. 
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4">
            <img
              class="img-fluid shadow"
              src="../static/img/profile-pic.png"
              alt="Foto de Vanderlei Miguel" data-anime="left"
            />
          </div>
          <div class="col-md-8" data-anime="right">
            <h3>Desenvolvedor</h3>
            <p>
              No momento estou focando em desenvolvimento full stack na área de desenvolvimento web, com algumas tecnologias já aplicadas como HTML, CSS, JavaScript, NodeJS, Bootstrap, Express, criação e consumo de API Rest, React
            </p>
            <!-- row das listas -->
            <div class="row mt-3 mb-3">
              <div class="col-md-6">
                <ul class="list-group list-group-flush fs-5">
                  <li class="list-group-item">
                    Niver: <span class="fw-lighter">08 de Abril de 1985</span>
                  </li>
                  <li class="list-group-item">Idade: <span class="fw-lighter">37 anos</span></li>
                  <li class="list-group-item">Cidade: <span class="fw-lighter">Imbituba</span></li>
                  <li class="list-group-item">Estado: <span class="fw-lighter">Santa Catarina</span></li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-group list-group-flush fs-5">
                  <li class="list-group-item">
                    Hobbie: <span class="fw-lighter">Impressão 3d, pintura</span>
                  </li>
                  <li class="list-group-item">Trabalho: <span class="fw-lighter">Desenvolvedor</span></li>
                  <li class="list-group-item">Experiencia DEV: <span class="fw-lighter">01 ano</span></li>
                  <li class="list-group-item">Experiencia Automação: <span class="fw-lighter">+10 anos</span></li>
                </ul>
                </ul>
              </div>
            </div>
            <p>"A criatividade é a arte de conectar ideias" - Steve Jobs</p>
          </div>
        </div>
      </section>

      <!-- Habilidades -->
      <section class="mt-5 section-bg" id="habilidades">
        <div class="container pb-5">
          <h2 class="pt-5">Habilidades</h2>
          <!-- <p>Durante minha carreira profissional adquiri algumas habilidade</p> -->
          
          <!-- utilizacao de grid bootstrap -->
          <!-- hardskills -->
          <div class="row">

            <!-- parte 1 hardskills -->
            <div class="col-md-6">
              <p class="mt-3 mb-0">HTML</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 70%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" data-anime="left">80%</div>
              </div>
              <p class="mt-3 mb-0">CSS</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" data-anime="left">75%</div>
              </div>
              <p class="mt-3 mb-0">JavaScript</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" data-anime="left">65%</div>
              </div>
              <p class="mt-3 mb-0">Bootstrap</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" data-anime="left">80%</div>
              </div>
              <p class="mt-3 mb-0">NodeJs</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 65%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" data-anime="left">70%</div>
              </div>
            </div>

            <!--  hardskills parte 2 -->
            <div class="col-md-6">
              <p class="mt-3 mb-0">Express</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" data-anime="left">90%</div>
              </div>
              <p class="mt-3 mb-0">Mongo DB e Mongo Atlas</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" data-anime="left">85%</div>
              </div>
              <p class="mt-3 mb-0">API Rest</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" data-anime="left">80%</div>
              </div>
              <p class="mt-3 mb-0">React</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" data-anime="left">70%</div>
              </div>
              <p class="mt-3 mb-0">Automação Industrial</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" data-anime="left">85%</div>
              </div>
            </div>
             
          </div>

          
          <!-- <hr class="w-80 me-auto ms-auto"> -->

          <!-- Softskills  -->
          <!-- <div class="row">

            <div class="col-md-6">
              <p class="mt-3 mb-0">Proatividade</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
              </div>
              <p class="mt-3 mb-0">Comprometimento</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 98%;" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
              </div>
              <p class="mt-3 mb-0">Iniciativa</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
              </div>
          

            </div>
            <div class="col-md-6">
              <p class="mt-3 mb-0">Liderança</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
              </div>
              <p class="mt-3 mb-0">Comunicação</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
              </div>
              <p class="mt-3 mb-0">Trabalho em equipe</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
              </div>
              
            </div>
          </div> -->

        </div>

      </section>

      <!-- Curriculo -->
      <section class="mt-5 cv" id="curriculo">
        <div class="container pb5">
          <h2 class="pt-3 pb-4">Currículo</h2>
          
          <div class="row">

            <!-- curriculo coluna educação -->
            <div class="col-md-6">
              <h3 class="cv-title">Educação</h3>
              <div class="cv-item" data-anime="up">
                <h4>Desenvolvimento Full Stack</h4>
                <h5>2022 - 2023</h5>
                <p><em>Blue EdTech</em></p>
                <p>Linguagens Html5, CSS3, JavaScript, NodeJS, Express, NestJS, ReactJS, Git e Github</p>
              </div>
              <div class="cv-item" data-anime="up">
                <h4>Tecnólogo em Mecatrônica</h4>
                <h5>2010 - 2014</h5>
                <p><em>Unisociesc Centro Universitário</em></p>
                <p>Graduação focada em áreas técnicas como automação, programação e robotica</p>
              </div>
              <div class="cv-item" data-anime="up">
                <h4>Black Belt Lean Six Sigma</h4>
                <h5>2021</h5>
                <p><em>PGS Consultoria - WHB Automotive</em></p>
                <p>O Black Belt é um profissional, especialmente treinado na metodologia Lean Seis Sigma,busca entender os problemas e buscar melhorias para diminuir ou eliminar falhas que possam afetar a produtividade</p>
              </div>
            </div>

            <!-- curriculo secao profissional -->
            <div class="col-md-6">
              <h3 class="cv-title">Profissional</h3>

              <div class="cv-item" data-anime="up">
                <h4>Suporte técnico</h4>
                <h5>2020 - Atual</h5>
                <p><em>VJ Tech</em></p>
                <p>Planejamento e execução melhorias em automação industrial;
                  Programação de CLP, IHM e Robôs;
                  Suporte técnico em automação de maquinas industriais;</p>
              </div>
              <div class="cv-item" data-anime="up">
                <h4>Especialista eletrônico</h4>
                <h5>2015 - 2020</h5>
                <p><em>WHB Automotive</em></p>
                <p>Programação e manutenção em Robôs Industriais (ABB, Fanuc e Kuka);
                  Programação de CLP (Controlador Lógico Programável), IHM e drives;
                  Manutenção em linhas de fundição de alumínio, fundição de ferro e maquinas especiais;
                  Adequação de NR12 em maquinas e equipamentos;
                  Participação de equipes de Kaisens;</p>
              </div>
              <div class="cv-item" data-anime="up">
                <h4>Programador</h4>
                <h5>2013 - 2015</h5>
                <p><em>Wetzel</em></p>
                <p>Programação de CLP (Controlador Lógico Programável), IHM e drives;
                Desenvolvimento de projetos elétricos em Eplan;
                Programação e manutenção de Robôs industriais;
                Adequação de NR12 em maquinas;
              </div>
            </div>
          </div>
         </div>



      </section>

      <!-- Portfolio -->
      <section class="section-bg mt-5" id="portfolio">
        <div class="container pb-5 pt-5" data-anime="left">
          <h2 class="pb-4">Portfólio</h2>

          <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
              
            </div>

            <!-- Carrosel -->
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                
                <!-- Pagina 1 do carrosel -->
                <div class="row row-cols-1 row-cols-md-3 g-4">

                  <div class="col">
                    <div class="card">
                      <img src="../static/img/cavzod.png" class="card-img-top mt-1 px-5" alt="logotipo dos cavaleiros do zodiaco">
                      <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center">API Cavaleiros do Zodiaco</h5>
                        <p class="card-text d-flex justify-content-center">API com deploy no heroku e swagger</p>
                        <p class="d-flex justify-content-center">JavaScript | Express | MongoDB</p>
                        <div class="d-flex justify-content-center">
                          <a href="https://github.com/vanderleimiguel/API-cavaleiros-CRUD" target="blank" class="btn btn-outline-prymary"><i class="bi bi-github"></i></a>
                          <a href="https://cavaleiro-api.herokuapp.com/doc" target="blank" class="btn btn-outline-prymary"><i class="bi bi-link-45deg"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col">

                    <div class="card">
                      <img src="../static/img/churrasco.png" class="card-img-top mt-1 px-5" alt="imagem de um churrasco">
                      <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center">Churrascômetro</h5>
                        <p class="card-text d-flex justify-content-center">Calculo para Churrasco</p>
                        <p class="d-flex justify-content-center">Html | Css | JavaScript</p>
                        <div class="d-flex justify-content-center">
                          <a href="https://github.com/vanderleimiguel/churrascometro" target="blank" class="btn btn-outline-prymary"><i class="bi bi-github"></i></a>
                          <a href="https://vanderleimiguel.github.io/churrascometro/" target="blank" class="btn btn-outline-prymary"><i class="bi bi-link-45deg"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col">

                    <div class="card">
                      <img src="../static/img/poke.png" class="card-img-top mt-1 px-5" alt="imagem de pokedex do anome pokemon">
                      <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center">Pokedex</h5>
                        <p class="card-text d-flex justify-content-center">Consumo de uma API utilizando todos os pokemons e cards</p>
                        <p class="d-flex justify-content-center">Html | Css | JavaScript</p>
                        <div class="d-flex justify-content-center">
                          <a href="https://github.com/vanderleimiguel/pokedex" target="blank" class="btn btn-outline-prymary"><i class="bi bi-github"></i></a>
                          <a href="https://vanderleimiguel.github.io/pokedex/" target="blank" class="btn btn-outline-prymary"><i class="bi bi-link-45deg"></i></a>
                        </div>
                                                
                        
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>

              <!-- Pagina 2 do carrosel -->
              <div class="carousel-item" data-bs-interval="2000">

                <div class="row row-cols-1 row-cols-md-3 g-4">

                  <div class="col">
                    <div class="card">
                      <img src="../static/img/tictac.png" class="card-img-top mt-1 px-5" alt="Imagem do jogo da velha">
                      <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center">Jogo da Velha</h5>
                        <p class="card-text d-flex justify-content-center">Clássico Jogo da Velha</p>
                        <p class="d-flex justify-content-center">Html | Css | JavaScript</p>
                        <div class="d-flex justify-content-center">
                          <a href="https://github.com/vanderleimiguel/jogo_da_velha" target="blank" class="btn btn-outline-prymary"><i class="bi bi-github"></i></a>
                          <a href="https://vanderleimiguel.github.io/jogo_da_velha/" target="blank" class="btn btn-outline-prymary"><i class="bi bi-link-45deg"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col">

                    <div class="card">
                      <img src="../static/img/jokempo.png" class="card-img-top mt-1 px-5" alt="imagem representando o jogo jokempo">
                      <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center">Jokempo</h5>
                        <p class="card-text d-flex justify-content-center">Jokempo classico em NodeJS</p>
                        <p class="d-flex justify-content-center">NodeJS</p>
                        <div class="d-flex justify-content-center">
                          <a href="https://github.com/vanderleimiguel/Blue_Modulo1_Projetos/tree/main/Projeto2_Jokenpo" target="blank" class="btn btn-outline-prymary"><i class="bi bi-github"></i></a>
                          <!-- <a href="https://github.com/vanderleimiguel/Blue_Modulo1_Projetos/tree/main/Projeto2_Jokenpo" target="blank" class="btn btn-outline-prymary"><i class="bi bi-link-45deg"></i></a> -->
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col">

                    <div class="card">
                      <img src="../static/img/samurai.png" class="card-img-top mt-1 px-5" alt="...">
                      <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center">Jornada do Heroi</h5>
                        <p class="card-text d-flex justify-content-center">Jogo de multiplas escolhas e condições.</p>
                        <p class="d-flex justify-content-center">NodeJs</p>
                        <div class="d-flex justify-content-center">
                          <a href="https://github.com/vanderleimiguel/Blue_Modulo1_Projetos/tree/main/Projeto2_Jokenpo" target="blank" class="btn btn-outline-prymary"><i class="bi bi-github"></i></a>
                          <!-- <a href="https://github.com/vanderleimiguel/Blue_Modulo1_Projetos/tree/main/Projeto2_Jokenpo" target="blank" class="btn btn-outline-prymary"><i class="bi bi-link-45deg"></i></a> -->
                        </div>
                                                
                        
                      </div>
                    </div>
                  </div>
                  
                </div>
                
              </div>
              
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>


        </div>


      </section>

      <!-- Contato -->
      <section class="pt-5 pb-5" id="contato">
        <div class="container mb-5">
          <h2 class="pb-3 pt-3">Contato</h2>
            <div class="row">

              <div class="col-md-5">
                <div class="card p-5 shadow border-0" data-anime="up">
                  <div class="endereco">
                    <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                    <p>Imbituba - SC</p>
                  </div>

                  <div class="email">
                    <h4><i class="bi envelope"></i>Email:</h4>
                    <p>vanderleimiguel@hotmail.com</p>
                  </div>

                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3514.934421625469!2d-48.671990985255576!3d-28.23967005664473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9526b5859df8ff0f%3A0x2e0a6eea5a329b01!2sR.%20Ern%C3%A2ni%20Cotrim%2C%20253%20-%20Paes%20Leme%2C%20Imbituba%20-%20SC%2C%2088780-000!5e0!3m2!1spt-BR!2sbr!4v1659706435169!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                  
                </div>

              </div>
              
              <div class="col-md-7 mt-5 mt-md-0">
                <div class="card p-5 h-100 shadow border-0" data-anime="left">

                  <!-- 
                  <form class="row g-3" action='/send' method="POST">
                    <div class="col-md-6">
                        <label for="nome" class="form-label">Nome:</label>
                        <input type="text" class="form-control" id="nome" name='nome'
                            placeholder='Digite seu nome' required>
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name='email'
                            placeholder='Digite seu email' required>
                    </div>

                    <div class="col-12">
                        <label for="mensagem" class="form-label">Mensagem:</label>
                        <textarea type="text" class="form-control" id="mensagem" name='mensagem' rows="10"
                            placeholder="Digite sua mensagem" required></textarea>
                    </div>


                    <div class="col-12 d-flex justify-content-center mt-4">
                        <button id='btn-enviar' type="submit" class="btn btn-primary">Enviar
                            mensagem</button>

                        <button id='btn-enviar-loader' class="btn btn-primary" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status"
                                aria-hidden="true"></span>
                            Enviando...
                        </button>
                    </div>
                </form>
                  -->
                                

                  
                </div>
                
              </div>

            </div>

        </div>

      </section>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
          <i class="bi bi-check-circle-fill"></i> {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

    </main>

    <footer id="footer">
      <div class="container">
        <div class="text-center">
          &copy; Copyright <strong>Vanderlei Miguel</strong>
        </div>
      </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/script.js"></script>
  </body>
</html>
